<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>

    <h1>Registered Students</h1>

    <a href="{% url 'student_create' %}">Register Student</a>

    <hr>

{% for student in students %}

    <p>
        <strong>Name:</strong> {{ student.student_name }}<br>
        <strong>Program:</strong> {{ student.program }}<br>
        <strong>Year Level:</strong> {{ student.year_level }}<br>
        <strong>Email:</strong> {{ student.email }}
    </p>

    <a href="{% url 'student_update' student.pk %}">
        Edit
    </a>

    |

    <a href="{% url 'student_delete' student.pk %}">
        Delete
    </a>

    <hr>

{% empty %}

    <p>No students registered yet.</p>

{% endfor %}

</body>
</html>